@font-face {
  font-family: "FS Elliot Pro";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/FSElliotPro/FSElliotPro.woff2"),
       url("./fonts/FSElliotPro/FSElliotPro.woff");
}

@font-face {
  font-family: "FS Elliot Pro";
  font-display: swap;
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/FSElliotPro/FSElliotProHeavy.woff2"),
       url("./fonts/FSElliotPro/FSElliotProHeavy.woff");
}